<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav class="sidenav" mode="over">
        <div class="sidenav-content">
            <mat-toolbar>Menú</mat-toolbar>
            <mat-nav-list class="nav-list">
                <a mat-list-item routerLink="/principal" (click)="sidenav.close()"><mat-icon>home</mat-icon> Inicio</a>
                <a mat-list-item routerLink="/pedidos" (click)="sidenav.close()"><mat-icon>store</mat-icon> Pedidos</a>
                <a mat-list-item routerLink="/cobros" (click)="sidenav.close()"><mat-icon>receipt_long</mat-icon>
                    Facturar</a>
                <a mat-list-item routerLink="/inventario" (click)="sidenav.close()"><mat-icon>warehouse</mat-icon>
                    Inventario</a>

                <mat-list-item (click)="toggleSubMenu()">
                    <mat-icon>settings</mat-icon> Configuración
                </mat-list-item>
                <mat-nav-list *ngIf="subMenuAbierto">
                    <a mat-list-item routerLink="/gestionUsuarios" (click)="sidenav.close()" style="padding-left: 32px;">
                        <mat-icon>groups</mat-icon> <span style="margin-left: 8px;">Usuarios</span>
                    </a>
                    <a mat-list-item routerLink="/configuracionMedidas" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>scale</mat-icon> <span style="margin-left: 8px;">Medidas</span>
                    </a>
                    <a mat-list-item routerLink="/configuracionIva" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>percent</mat-icon> <span style="margin-left: 8px;">IVA</span>
                    </a>
                </mat-nav-list>

                <mat-list-item (click)="toggleSubMenuRep()">
                    <mat-icon>query_stats</mat-icon> Reportes
                </mat-list-item>
                <mat-nav-list *ngIf="subMenuReportesAbierto">
                    <a mat-list-item routerLink="/reporteVentas" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>bar_chart</mat-icon> <span style="margin-left: 8px;">Ventas</span>
                    </a>
                    <a mat-list-item routerLink="/reporteProductos" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>area_chart</mat-icon> <span style="margin-left: 8px;">Top Productos</span>
                    </a>
                    <a mat-list-item routerLink="/reporteProductosBajoStock" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>stacked_bar_chart</mat-icon> <span style="margin-left: 8px;">Bajo Stock</span>
                    </a>
                </mat-nav-list>
            </mat-nav-list>

            <div class="logout-button-container">
                <button mat-flat-button color="warn" (click)="cerrarsesion()">Cerrar sesión</button>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content (click)="sidenav.close()">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="$event.stopPropagation(); sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Centro de Abasto</span>
        </mat-toolbar>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>

<!-- <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav class="sidenav" [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <div class="sidenav-content">
            <mat-toolbar>Menú</mat-toolbar>

            <mat-nav-list class="nav-list">
                <a mat-list-item routerLink="/principal" (click)="sidenav.close()"><mat-icon>home</mat-icon> Inicio</a>
                <a mat-list-item routerLink="/pedidos" (click)="sidenav.close()"><mat-icon>store</mat-icon> Pedidos</a>
                <a mat-list-item routerLink="/cobros" (click)="sidenav.close()"><mat-icon>receipt_long</mat-icon>
                    Facturar</a>
                <a mat-list-item routerLink="/inventario" (click)="sidenav.close()"><mat-icon>warehouse</mat-icon>
                    Inventario</a>

                <mat-list-item (click)="toggleSubMenu()">
                    <mat-icon>settings</mat-icon> Configuración
                </mat-list-item>
                <mat-nav-list *ngIf="subMenuAbierto">
                    <a mat-list-item routerLink="/registro" (click)="sidenav.close()" style="padding-left: 32px;">
                        <mat-icon>groups</mat-icon> <span style="margin-left: 8px;">Usuarios</span>
                    </a>
                    <a mat-list-item routerLink="/configuracionMedidas" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>scale</mat-icon> <span style="margin-left: 8px;">Medidas</span>
                    </a>
                    <a mat-list-item routerLink="/configuracionIva" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>percent</mat-icon> <span style="margin-left: 8px;">IVA</span>
                    </a>
                </mat-nav-list>

                <mat-list-item (click)="toggleSubMenuRep()">
                    <mat-icon>query_stats</mat-icon> Reportes
                </mat-list-item>
                <mat-nav-list *ngIf="subMenuReportesAbierto">
                    <a mat-list-item routerLink="/reportes/ventas" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>bar_chart</mat-icon> <span style="margin-left: 8px;">Ventas</span>
                    </a>
                    <a mat-list-item routerLink="/reportes/top-productos" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>area_chart</mat-icon> <span style="margin-left: 8px;">Top Productos</span>
                    </a>
                    <a mat-list-item routerLink="/reportes/bajo-stock" (click)="sidenav.close()"
                        style="padding-left: 32px;">
                        <mat-icon>stacked_bar_chart</mat-icon> <span style="margin-left: 8px;">Bajo Stock</span>
                    </a>
                </mat-nav-list>
            </mat-nav-list>

            <div class="logout-button-container">
                <button mat-flat-button color="warn" (click)="cerrarsesion()">Cerrar sesión</button>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content (click)="sidenav.close()">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="$event.stopPropagation(); sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Centro de Abasto</span>
        </mat-toolbar>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container> -->

<!-- <mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav" mode="over">
    <div class="sidenav-content">
      <mat-toolbar>Menú</mat-toolbar>
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/principal" (click)="sidenav.close()"><mat-icon>home</mat-icon> Inicio</a>
        <a mat-list-item routerLink="/pedidos" (click)="sidenav.close()"><mat-icon>store</mat-icon> Pedidos</a>
        <mat-list-item (click)="toggleSubMenuRep()">
          <mat-icon>query_stats</mat-icon> Reportes
        </mat-list-item>
        <mat-nav-list *ngIf="subMenuReportesAbierto">
            <a mat-list-item routerLink="/reportes/ventas" (click)="sidenav.close()" style="margin-left: 16px;">
              <mat-icon>bar_chart</mat-icon> <span style="margin-left: 8px;">Ventas</span>
            </a>
            </mat-nav-list>
      </mat-nav-list>

      <div class="logout-button-container">
        <button mat-flat-button color="warn" (click)="cerrarsesion()">Cerrar sesión</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content (click)="sidenav.close()">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="$event.stopPropagation(); sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Centro de Abasto</span>
    </mat-toolbar>
    
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->