.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 75%;
    width: 70%;
    height: auto;
    min-width: 320px;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: #212529;
    color: white;
}

.modal-body {
    padding: 10px 0;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}

/*
#btnCancelar{
    border-radius: 5px;
}

#btnConfirmar{
    border-radius: 5px;
}


#btnAgregarPedido {
    border-radius: 5px;
}


#btnAgregarPedido:hover {
    background-color: #0e2c4d;
    border-color: #0e2c4d;
}
*/

/* Media Queries para asegurar responsividad */
@media (max-width: 768px) {
  .modal-content {
      max-width: 90%; 
      min-width: 280px;
  }
}

@media (max-width: 576px) {
  .modal-content {
      max-width: 100%; 
      min-width: 100%; 
  }
}

@media (max-width: 768px) {
  .modal-content-secundario {
      max-width: 90%; 
      min-width: 280%; 
  }
}

@media (max-width: 576px) {
  .modal-content-secundario {
      max-width: 100%; 
      min-width: 100%; 
  }
}
