<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav" [mode]="(isHandset$ | async) ? 'over' : 'side'">

    <div class="sidenav-content">
      <mat-toolbar>Menú</mat-toolbar>

      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/principal"
          (click)="sidenav.close()"><mat-icon>home</mat-icon>
          Inicio</a>
        <a mat-list-item routerLink="/pedidos"
          (click)="sidenav.close()"><mat-icon>store</mat-icon>
          Pedidos</a>
        <a mat-list-item routerLink="/cobros"
          (click)="sidenav.close()"><mat-icon>receipt_long</mat-icon>
          Facturar</a>
        <a mat-list-item routerLink="/inventario"
          (click)="sidenav.close()"><mat-icon>warehouse</mat-icon>
          Inventario</a>

        <mat-list-item (click)="toggleSubMenu()"><mat-icon>settings</mat-icon> Configuración</mat-list-item>
        <mat-nav-list *ngIf="subMenuAbierto">
        </mat-nav-list>

        <mat-list-item (click)="toggleSubMenuRep()"><mat-icon>query_stats</mat-icon> Reportes</mat-list-item>
        <mat-nav-list *ngIf="subMenuReportesAbierto">
        </mat-nav-list>
      </mat-nav-list>

      <div class="logout-button-container">
        <button mat-flat-button color="warn" (click)="cerrarsesion()">Cerrar sesión</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isHandset$ | async" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Centro de Abasto</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>