.sidenav-container {
  height: 100vh;
  /* Ocupa toda la altura de la pantalla */
}

.sidenav {
  width: 250px;
}

/* Usamos flexbox para el layout vertical del menú */
.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-list {
  flex-grow: 1;
  /* Hace que la lista de navegación ocupe todo el espacio vertical disponible */
  overflow-y: auto;
}

/* Contenedor del botón para darle un poco de espacio */
.logout-button-container {
  padding: 16px;
}

.logout-button-container button {
  width: 100%;
}

.main-content {
  padding: 20px;
}