<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    (opened)="log('EVENTO: Sidenav se ha abierto')" (closed)="log('EVENTO: Sidenav se ha cerrado')">

    <div class="sidenav-content">
      <mat-toolbar>Menú</mat-toolbar>

      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/principal"
          (click)="sidenav.close(); log('ACCIÓN: Clic en Inicio, ordenando cerrar')"><mat-icon>home</mat-icon>
          Inicio</a>
        <a mat-list-item routerLink="/pedidos"
          (click)="sidenav.close(); log('ACCIÓN: Clic en Pedidos, ordenando cerrar')"><mat-icon>store</mat-icon>
          Pedidos</a>
        <a mat-list-item routerLink="/cobros"
          (click)="sidenav.close(); log('ACCIÓN: Clic en Facturar, ordenando cerrar')"><mat-icon>receipt_long</mat-icon>
          Facturar</a>
        <a mat-list-item routerLink="/inventario"
          (click)="sidenav.close(); log('ACCIÓN: Clic en Inventario, ordenando cerrar')"><mat-icon>warehouse</mat-icon>
          Inventario</a>

        <mat-list-item (click)="toggleSubMenu()"><mat-icon>settings</mat-icon> Configuración</mat-list-item>
        <mat-nav-list *ngIf="subMenuAbierto">
        </mat-nav-list>

        <mat-list-item (click)="toggleSubMenuRep()"><mat-icon>query_stats</mat-icon> Reportes</mat-list-item>
        <mat-nav-list *ngIf="subMenuReportesAbierto">
        </mat-nav-list>
      </mat-nav-list>

      <div class="logout-button-container">
        <button mat-flat-button color="warn" (click)="cerrarsesion()">Cerrar sesión</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isHandset$ | async" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Centro de Abasto</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
<!-- <mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav" [mode]="(isHandset$ | async) ? 'over' : 'side'">

    <div class="sidenav-content">
      <mat-toolbar>Menú</mat-toolbar>

      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/principal" (click)="sidenav.close()"><mat-icon>home</mat-icon> Inicio</a>
        <a mat-list-item routerLink="/pedidos" (click)="sidenav.close()"><mat-icon>store</mat-icon> Pedidos</a>
        <a mat-list-item routerLink="/cobros" (click)="sidenav.close()"><mat-icon>receipt_long</mat-icon> Facturar</a>
        <a mat-list-item routerLink="/inventario" (click)="sidenav.close()"><mat-icon>warehouse</mat-icon>
          Inventario</a>

        <mat-list-item (click)="toggleSubMenu()"><mat-icon>settings</mat-icon> Configuración</mat-list-item>
        <mat-nav-list *ngIf="subMenuAbierto">
        </mat-nav-list>

        <mat-list-item (click)="toggleSubMenuRep()"><mat-icon>query_stats</mat-icon> Reportes</mat-list-item>
        <mat-nav-list *ngIf="subMenuReportesAbierto">
        </mat-nav-list>
      </mat-nav-list>

      <div class="logout-button-container">
        <button mat-flat-button color="warn" (click)="cerrarsesion()">Cerrar sesión</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isHandset$ | async" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Centro de Abasto</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container> -->

<!-- <mat-toolbar class="cabecera">
  <button *ngIf="logeado" mat-icon-button (click)="sidenav.toggle()" style="color: white;">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Centro de Abasto</span>
  <span class="example-spacer"></span>
  <button mat-raised-button *ngIf="logeado" (click)="cerrarsesion()">Cerrar sesión</button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" class="custom-sidenav">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/principal"><mat-icon>home</mat-icon> Inicio</a>
      <mat-list-item (click)="toggleSubMenu()">
        <mat-icon>settings</mat-icon>
        Configuración
      </mat-list-item>
      <mat-nav-list *ngIf="subMenuAbierto">
        <a mat-list-item routerLink="/registro" style="margin-left: 16px;">
          <mat-icon>groups</mat-icon>
          <span style="margin-left: 8px;">Usuarios</span>
        </a>
        <a mat-list-item routerLink="/configuracionMedidas" style="margin-left: 16px;">
          <mat-icon>scale</mat-icon>
          <span style="margin-left: 8px;">Medidas de Conversión</span>
        </a>
        <a mat-list-item routerLink="/configuracionIva" style="margin-left: 16px;">
          <mat-icon>percent_discount</mat-icon>
          <span style="margin-left: 8px;">Configuración IVA</span>
        </a>
      </mat-nav-list>
      <a mat-list-item routerLink="/pedidos"><mat-icon>store</mat-icon> Pedidos</a>
      <a mat-list-item routerLink="/cobros"><mat-icon>receipt_long</mat-icon> Facturar</a>
      <a mat-list-item routerLink="/inventario"><mat-icon>warehouse</mat-icon> Inventario</a>
      <mat-list-item (click)="toggleSubMenuRep()">
        <mat-icon>query_stats</mat-icon>
        Reportes
      </mat-list-item>
      <mat-nav-list *ngIf="subMenuReportesAbierto">
        <a mat-list-item routerLink="/reporteVentas" style="margin-left: 16px;">
          <mat-icon>bar_chart</mat-icon>
          <span style="margin-left: 8px;">Ventas</span>
        </a>
        <a mat-list-item routerLink="/reporteProductos" style="margin-left: 16px;">
          <mat-icon>area_chart</mat-icon>
          <span style="margin-left: 8px;">Productos más vendidos</span>
        </a>
        <a mat-list-item routerLink="/reporteProductosBajoStock" style="margin-left: 16px;">
          <mat-icon>stacked_bar_chart</mat-icon>
          <span style="margin-left: 8px;">Productos con bajo stock</span>
        </a>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->