<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-center">Configurar medidas de conversión</h2>
        <button matButton="filled" id="btnOpen" class="btn btn-primary d-flex align-items-center gap-2"
            (click)="abrirModalAgregarMedida()">
            <mat-icon>add</mat-icon>
            Agregar Medida
        </button>
    </div>

    <!-- Filtro de búsqueda -->
    <div class="mb-3">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Buscar medida..." [(ngModel)]="filtro"
                (ngModelChange)="filtrarMedidas()">
        </div>
    </div>

    <!-- Tabla con las medidas de conversión -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Unidad Principal</th>
                    <th>Unidad a Convertir</th>
                    <th>Factor de conversion</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medida of medidasPaginadas">
                    <td>{{ medida.Nombre_Medida_Principal }}</td>
                    <td>{{ medida.Nombre_Medida_Convertir }}</td>
                    <td>{{ medida.Factor_Conversion }}</td>
                    <td>
                        <span class="badge" [ngClass]="{
                            'bg-success': medida.Estado_Medida === 'Activo',
                            'bg-danger': medida.Estado_Medida === 'Inactivo'
                        }">
                            {{ medida.Estado_Medida }}
                        </span>
                    </td>
                    <td>
                        <div class="d-flex gap-1">
                            <button class="btn btn-warning btn-sm d-flex align-items-center gap-1"
                                (click)="editarMedida(medida)">
                                <mat-icon>search</mat-icon>
                                Editar
                            </button>
                            <button class="btn btn-danger btn-sm d-flex align-items-center gap-1"
                                (click)="eliminarMedida(medida)">
                                <mat-icon>delete</mat-icon>
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mensajeNoResultados" class="alert alert-warning text-center" role="alert">{{mensajeNoResultados}}</div>
</div>

<!-- Paginado de la tabla -->
<div class="d-flex justify-content-center align-items-center gap-4 mb-3">
    <!-- Selector de elementos por página -->
    <div>
        Mostrar
        <select [(ngModel)]="itemsPorPagina" (change)="cambiarItemsPorPagina()"
            class="form-select d-inline-block w-auto ms-2">
            <option *ngFor="let cantidad of opcionesPorPagina" [value]="cantidad"> {{ cantidad }}</option>
        </select>
        elementos
    </div>

    <!-- Paginación -->
    <nav *ngIf="paginasTotales > 1">
        <!-- clase anterior: pagination justify-content-center  -->
        <ul class="pagination mb-0">
            <li class="page-item" [class.disabled]="paginaActual === 1">
                <a class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</a>
            </li>

            <li class="page-item" *ngFor="let pagina of [].constructor(paginasTotales); let i = index"
                [class.active]="paginaActual === i + 1">
                <a class="page-link" (click)="cambiarPagina(i + 1)">{{ i + 1 }}</a>
            </li>

            <li class="page-item" [class.disabled]="paginaActual === paginasTotales">
                <a class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</a>
            </li>
        </ul>
    </nav>

</div>



<!-- Modal para agregar/editar medida -->
<div class="modal" *ngIf="isModalVisible">
    <div class="modal-content">
        <div class="modal-header">
            <!-- <h5 class="modal-title">Agregar medida conversión</h5> -->
            <h5 class="modal-title">{{ modoEdicion ? 'Editar Medida de Conversión' : 'Agregar Medida de Conversión' }}
            </h5>
            <button class="close-btn" (click)="cerrarModalAgregarMedida()">X</button>
        </div>
        <div class="modal-body">
            <form [formGroup]="medidaForm" (ngSubmit)="agregarMedida()">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <b><label for="idUnidadPrincipal" class="form-label">Unidad principal:</label></b>
                        <!-- <input type="number" id="idUnidadPrincipal" class="form-control"
                            formControlName="Id_Unidad_Principal"> -->
                        <select id="idUnidadPrincipal" class="form-control" formControlName="Id_Unidad_Principal">
                            <option value="" disabled>Seleccionar unidad principal</option>
                            <option *ngFor="let unidad of unidades" [value]="unidad.IdUnidad">{{ unidad.NombreUnidad }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <b><label for="idUnidadConventir" class="form-label">Unidad a convertir:</label></b>
                        <!-- <input type="number" id="idUnidadConventir" class="form-control"
                            formControlName="Id_Unidad_Convertir"> -->
                        <select id="idUnidadConvertir" class="form-control" formControlName="Id_Unidad_Convertir">
                            <option value="" disabled>Seleccionar unidad a convertir</option>
                            <option *ngFor="let unidad of unidades" [value]="unidad.IdUnidad">{{ unidad.NombreUnidad }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-secondary mt-2 d-flex align-items-center gap-1"
                        (click)="abrirModalUnidadMedida()">
                        <mat-icon>add</mat-icon>Agregar unidad
                    </button>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <b><label for="factorConversion" class="form-label">Factor de conversión:</label></b>
                        <input type="number" id="Factor" class="form-control" formControlName="Factor_Conversion">
                    </div>
                </div>
                <div class="d-flex gap-1">
                    <!-- Botón Guardar (Cuando se agrega una nueva medida) -->
                    <button *ngIf="!modoEdicion" type="submit" class="btn btn-primary d-flex align-items-center gap-1"
                        [disabled]="medidaForm.invalid">
                        <mat-icon>save</mat-icon>Guardar
                    </button>
                    <!-- Botón Actualizar (Cuando se edita una medida) -->
                    <button *ngIf="modoEdicion" type="submit" class="btn btn-warning d-flex align-items-center gap-1"
                        [disabled]="medidaForm.invalid">
                        <mat-icon>edit</mat-icon>Actualizar
                    </button>
                    <!-- Botón Cancelar -->
                    <button type="button" class="btn btn-danger d-flex align-items-center gap-1"
                        (click)="cerrarModalAgregarMedida()">
                        <mat-icon>not_interested</mat-icon>Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para eliminar medida -->
<div class="modal" *ngIf="isModalVisibleEliminar">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirmación de Eliminación</h5>
            <button class="close-btn" (click)="cerrarModalEliminar()">X</button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro de eliminar esta medida de conversión?</p>
        </div>
        <div class="modal-footer">
            <div class="d-flex gap-1">
                <button type="button" class="btn btn-secondary d-flex align-items-center gap-1"
                    (click)="cerrarModalEliminar()">
                    <mat-icon>not_interested</mat-icon>Cancelar
                </button>
                <button class="btn btn-danger d-flex align-items-center gap-1" (click)="eliminarMedidaConfirmada()">
                    <mat-icon>dangerous</mat-icon>Eliminar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar la unidad de medida -->
<!-- <div class="modal" *ngIf="isModalUnidadMedidaVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Agregar Unidad</h5>
            <button class="close-btn" (click)="cerrarModalUnidadMedida()">X</button>
        </div>
    </div>
</div> -->
<div class="modal" *ngIf="isModalUnidadMedidaVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Agregar Unidad Medida</h5>
            <button class="close-btn" (click)="cerrarModalUnidadMedida()">X</button>
        </div>
        <div class="modal-body">
            <form [formGroup]="unidadForm" (ngSubmit)="guardarUnidadMedida()">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <b><label for="nombreMarca" class="form-label">Nombre de la unidad:</label></b>
                        <input type="text" id="nombreMarca" class="form-control" formControlName="Nombre" required>
                    </div>
                </div>
                <div class="d-flex gap-1">
                    <button type="submit" class="btn btn-primary d-flex align-items-center gap-1"
                        [disabled]="unidadForm.invalid">
                        <mat-icon>save</mat-icon> Guardar</button>
                    <button type="button" class="btn btn-danger d-flex align-items-center gap-2"
                        (click)="cerrarModalUnidadMedida()">
                        <mat-icon>not_interested</mat-icon> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

